section {
    text-align: center;
    position: relative;
    overflow: hidden;

    &.fade {
        opacity: 0;
    }

    &.content {
        padding: 75px 0;
    }

    &.pink {
        background-color: $light-pink;
    }

    &#hero {
        
    }

    &#details {
        .fa {
            margin-bottom: .25em;
        }
        .country-club {
            margin-top: 3em;

            h3 {
                font-size: 1.5em;
                line-height: 1.3;
                font-family: "Arvo", serif;
                font-weight: 700;
                color: $green;
                margin-bottom: .5em;
            }
            h4 {
                font-size: 1.25em;
                line-height: 1.3;
                font-family: "Arvo", serif;
                font-weight: 700;
                color: $pink;
            }
        }
    }

    &#registry {
        .registry-item {
            width: 200px;
            margin: 0 auto;
        }
    }

    &#rsvp {
        h1 {
            margin-bottom: 0;
        }
        p.subtitle{
            font-family: "Josefin Sans", sans-serif;
            font-size: 1em;
        }
    }

    &#photos {
        .gallery {
            a {
                img {
                    float: left;
                    width: 18%;
                    height: auto;
                    border: 2px solid #fff;
                    -webkit-transition: -webkit-transform .15s ease;
                    -moz-transition: -moz-transform .15s ease;
                    -o-transition: -o-transform .15s ease;
                    -ms-transition: -ms-transform .15s ease;
                    transition: transform .15s ease;
                    position:relative;
                }

                &:hover {
                    img {
                        -webkit-transform: scale(1.05);
                        -moz-transform: scale(1.05);
                        -o-transform: scale(1.05);
                        -ms-transform: scale(1.05);
                        transform: scale(1.05);
                        z-index: 5;
                    }
                }

                &.big {
                    img {
                        width: 40%;
                    }
                }
            }
        }
    }
}
